:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --grey-color: #484848;
    --sub-color: rgba(0, 0, 0, 0.4);
    --primary-color: #e6e9f0;
}

* {
    box-sizing: border-box;
}

html {
    line-height: 1.6rem;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #FFFFFF;
}

body {
    overflow: hidden visible;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: 'Hachi Maru Pop', cursive;
}