body {
    height: 2000px;
}
.banner {
    width: 100%;
    height: 100vh;
    background: url(../img/ice-cream-background.jpg) no-repeat center/cover;
}
.navbar {
    padding: 24px 100px;
}
.navbar a {
    color: #fff;
}